.fb{
    font-family: "https://fonts.googleapis.com/css?family=Rubik";
    font-size: 16px;
    color: black;
    text-align: center;
    padding-top: 10px;
}

.fp{
    font-family: "https://fonts.googleapis.com/css?family=Rubik";
    font-size: 16px;
    color: #E1A1BB;
    text-align: center;
}

.fs{
    font-size: 50px;
    
}

.icon{
    font-size: 100px;
    color: #7843C4;
}

.pie{
    width: 100%;
    height: 50px;
}

.mtop{
    margin-top: 100px
}

.bg-color-g {
    background-color: #F8F9FA;
}

.bg-color-mc {
    background-color: #7843C4;
}

.bg-color-mo {
    background-color: #431A7D;
}

.bg-color-rc {
    background-color: #E1A1BB;
}

.bg-color-ro {
    background-color: #FFA1BB;
}
.scene1{
    background-image: url("../img/bgScene1.png");
    background-color: rgb(189, 151, 241);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 700px;
}

.scene1emp{
    background-image: url("../img/empresa2.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 700px;
}

.scene2{
    width: 100%;
    height: 700px;
}

.white{
    color: #F8F9FA;
}

.wid{
    width: 1200px;
}